/*Showcase Specfic Stuff*/
#showcase2{
    min-height: 70%;
    background:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url(images/bharat-patil-WR5_Ev_bh-I-unsplash.jpg) -0px -55px no-repeat;
    background-size: cover;
    text-align: center;
    box-shadow: 0px 1px 10px 2px #0e0e0e inset;
    z-index: 5;
    background-attachment: fixed;
}

#showcase2 h1{
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 35%;
    left: 50%;
    text-align: center;
}

#showcase2 p{
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 46%;
    left: 50%;
    text-align: center;
}

.inputbox{
    text-align: center;
    background: rgb(48, 47, 47);
    padding: 5%;
    border-radius: 30px;
    margin: 60px;
    box-shadow: 0px 7px 10px 2px #0e0e0e
}

label{
    float: left;
}

input, textarea{
    width: 100%;
    background: rgba(0, 0, 0, .5);
    border-style: none;
    border-radius: 30px;
    padding: 10px;
    text-align: center
}

button{
    margin-top: 30px;
    width: 15%;
    background-color: rgb(2, 155, 2);
    border-radius: 50px;
    border-style: none;
    padding: 8px;
    transition: .1s linear;
}

button:hover{
    transform: scale(1.2);
    background-color: rgb(2, 155, 2);
}

button:focus{
    outline: 0;
}

button:active{
    background-color: rgb(2, 85, 2);
}

.namebox .emailbox .messagebox .submit{
    /*this is for the elements to stack on TOP of each other
    instead of looking like inline elements*/
    display: block;
    margin: 10px;
}

